.none {
    display: none;
}

.modal {
    display: block;
    z-index: 10;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white; 
    border-radius: 10px;
    box-shadow: 5px 10px 15px 2px rgba(0,0,0,0.59);
    width: 450px;
    min-height: 400px;
    padding: 10px; 

}

.friends-search {
    padding: 10px;
}

.friends-search-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid indigo;
    padding-bottom: 2px;
    margin-bottom: 15px;
}

.buttonX {
    border-radius: 100%;
}

.friends-search-result {
    display: flex;
    flex-direction: column;
    align-items: space-between; 

}
.friend-search-results-li {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    height: 50px;
    border-bottom: 1px solid indigo
}

.friend-search-thumbnail {

    width:  30px;
    padding: 3px;

    margin-bottom: 10px;
}

