.none {
    display: none;
}

.modal {
    display: block;
    z-index: 10;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white; 
    border-radius: 10px;
    box-shadow: 5px 10px 15px 2px rgba(0,0,0,0.59);
    width: 450px;
    min-height: 400px;
    padding: 10px; 
    max-height: 85vh;
    overflow: scroll; 

}

.friends-search {
    padding: 10px;
}

.friends-search input {
    padding: 5px;
    padding-top: 6px;
    width: 250px;
    background-color: whitesmoke;
    border: white;
    border-bottom: 1px solid rgb(40, 57, 155);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;


}
.friends-search-button  {
    background-color:rgb(40, 57, 155);
    padding: 6px;
    border: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.friends-search-button * {
    color: white;
}
.friends-search-button:hover {
    background-color:rgb(25, 32, 75);
}
.friends-search-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2px;
    margin-bottom: 15px;
}

.buttonX {
    border-radius: 35%;
    border-color: white;
    background: rgb(40, 57, 155);
    color: white;
}

.buttonX:hover {
    background-color:rgb(25, 32, 75);

}

.friends-search-result {
    display: flex;
    flex-direction: column;
    align-items: space-between; 

}
.friend-search-results-li {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    height: 50px;
    border-bottom: 1px solid indigo
}

.friend-search-thumbnail {

    width:  30px;
    padding: 3px;

    margin-bottom: 10px;
}

.friend-search-no-click-button {
    padding: 12px; 
    border-radius: 5px;
    border: 1px solid rgb(40, 57, 155);
    color:rgb(40, 57, 155);
    font-family: Montserrat, Arial, Helvetica, sans-serif;

}

.friend-search-no-click-button:hover {
    font-weight: bold;
    box-shadow: 5px 5px 15px 2px rgba(34, 44, 133, 0.19);
}