.profile-user-info .user-profile-icon{
  font-size: 70px;
}

.user-profile-icon-div {
  background-color: rgb(179, 228, 250); 
  border-radius: 50%;
  padding: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-profile-icon-div:hover {
  box-shadow: 1px 8px 12px rgb(0 0 0 / 10%);
}

.profile-icon-options {
  width: 210px;
  height: 200px;
  position: fixed;
  border: 3px solid rgb(40, 57, 155);
  border-radius: 5px;
  background-color: aliceblue;
  z-index: 5;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.profile-icon-options::-webkit-scrollbar {
  width: 5px;
}

.profile-icon-options::-webkit-scrollbar-track {
  background: #E1DED6;
  border-radius: 10px;
}

.profile-icon-options::-webkit-scrollbar-thumb {
  background: rgb(40, 57, 155);
  border-radius: 10px;
}

.profile-icon {
  font-size: 40px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.profile-icon:hover {
  cursor: pointer;
  background-color: rgb(40, 57, 155);
  
}

.profile-icon-options.hidden {
  display: none;
}

.profile-iconText{
  width: 100%;
  font-size: 10px;
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid rgb(40, 57, 155);
}