#user-profile-icon{
  font-size: 70px;
}

.user-profile-icon-div {
  width: 100px;
  height: 100px;
  background-color: aliceblue;
  border: 5px solid rgb(40, 57, 155);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-icon-options {
  width: 200px;
  height: 200px;
  position: fixed;
  border: 3px solid rgb(40, 57, 155);
  border-radius: 5px;
  background-color: aliceblue;
  z-index: 5;
  overflow: scroll;
  padding: 10px;
}

#profile-icon-options::-webkit-scrollbar {
  display: none;
}

.profile-icon {
  font-size: 40px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.profile-icon:hover {
  cursor: pointer;
  background-color: rgb(40, 57, 155);
  
}

#profile-icon-options.hidden {
  display: none;
}