.profile-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border: 2px solid rgb(128, 0, 111); 
    margin: 5px;
 
}

.profile-left-div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60%;
    border: 2px solid green; 
    margin: 5px;
}   

.profile-right-div {
    display: flex;
    flex-direction: column;
    border: 1px solid green; 
    margin: 5px;
    width: 30%;

}

.profile-info-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid yellow;
    margin: 5px;
}
.profile-user-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 2px solid orange;   
    margin: 5px;
}

.profile-user-info img{
    width: 100%;
    height: auto;
}

.profile-user-stats {
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 2px solid orange; 
    margin: 5px;
}

/* DECK */

.profile-deck-scroller {
    display: flex;
    border: 2px solid blue; 
    margin: 5px;
}

.profile-no-decks {
   
    font-weight: 800;
}

.profile-deck-li {
    background-color: cornsilk;
}

/* FRIENDS */
.profile-friends-list {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 5px;
}