.profile-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 77vh;
    padding-top:20px; 
    padding-bottom: 20px;
    background-color: aliceblue;
    /* background-image:  url('http://localhost:3000/static/media/ocean.b2bebab11c0bc273f3fc.jpg'); */
    /* background-image:  url('https://i.ytimg.com/vi/TQOO9h_U44Q/maxresdefault.jpg'); */
    /* background-repeat: no-repeat;
    background-size: cover; */

}

.profile-left-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin: 5px;
    margin-left: 15px;
}   

.profile-right-div {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.29);
    margin: 5px;
    margin-right: 25px;
    width: 25%;
    background: rgba(247, 242, 242, 0.59);
}

.profile-info-div {
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
    /* margin: 5px; */
   

}
.profile-user-info {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-size: larger;
    width: 20vw;
    height: 30%;
    
    padding: 15px;
    margin-bottom: 10%;
    background: rgba(247, 242, 242, 0.59);
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.29);
    /* margin-bottom: 15px;
    margin-bottom: 15px; */
}

#user-profile-icon {
    border: 1px solid black;
    padding: 3px;
    border-radius: 100%;
    font-size: 5em;
    background-color: rgb(125, 182, 233);
    margin-bottom: 10px;
}

.profile-battle-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background: rgba(247, 242, 242, 0.59);;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.29);
    margin-bottom: 25px;
}
.profile-vert-box {
    display: flex;
    flex-direction: column;
}
.profile-user-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    background: rgba(247, 242, 242, 0.59);;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.29);
  
}

/* DECK */

.profile-deck-scroller {
    display: flex;
    height: 45%; 
    width: 40vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 5px; */
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.29);
    background: rgba(247, 242, 242, 0.59);;
    overflow: hidden;

}

.profile-create-deck-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    border: white;
    border-bottom: 1px solid rgb(55, 60, 75);
}

.profile-create-deck-button:hover{
    font-weight: bolder;
    box-shadow: 5px 5px 15px 2px rgba(34, 44, 133, 0.19);

}
.profile-no-decks {
   
    font-weight: 800;
}

.profile-deck-li {
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.29)
}

/* FRIENDS */

.profile-friends-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 30px;
    height: 50px;
    border-bottom: 1px solid black;
    margin: 25px;

}

.profile-friends-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* justify-content: center; */
    align-items: center;
    margin: 5px;
}


.profile-no-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    
}

