.profile-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 80vh;
    padding-top:20px; 
    padding-bottom: 20px;
    background-color: aliceblue;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color:rgb(40, 50, 92);
}

.user-profile-total-container {
    height: calc(100vh - 70px);
}

.profile-left-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: 5px;
    margin-left: 15px;
}   
.profile-right-div {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.29);
    margin: 5px;
    margin-right: 25px;
    width: 18%;
    background: rgba(247, 242, 242, 0.59);
}

.profile-info-div {
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
    /* margin: 5px; */
   

}

.profile-user-info {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-size: larger;
    width: 23vw;
    margin-right: 10px;
    height: 30%;
    font-weight: bolder;
    padding: 15px;
    margin-bottom: 10%;
    background: rgba(247, 242, 242, 0.59);
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.29);
    /* margin-bottom: 15px;
    margin-bottom: 15px; */

}
.profile-user-info a {
    padding: 10px;
    font-weight: normal;
    margin-top: 5px;
    color: rgb(40, 57, 155);
    border-radius: 5px;
}
.profile-user-info a:hover {
    font-weight: bolder;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.29);
}


.profile-user-info:hover {
        cursor: default;
}

.profile-battle-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 50vh;
    background: rgba(247, 242, 242, 0.59);;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.29);
    margin-bottom: 25px;
}
.profile-vert-box {
    display: flex;
    flex-direction: column;
}



.prof-stats-div {
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20vh;
    /* justify-content: center; */
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.29);
    background: rgba(247, 242, 242, 0.59);
    overflow: hidden;
    color: rgb(40, 57, 155);
}

.stats-left-col {
    border-right: 1px solid rgb(40, 50, 92);
    display: flex;
    width: 30%;
    flex-direction: column;
    align-content: space-evenly;
    margin-right: 15px;
    padding-right: 10px;
    padding-left: 15px;
}

.stats-header {
    text-align: right;
    font-size: 50px;
} 
.profile-points {
    text-align: right;
    font-size: 25px;
    color:rgb(75, 91, 158)
} 
.profile-points-bold {
    font-weight: bolder;
}

.stats-right-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    border-bottom:rgb(20, 35, 46)

}

.prof-winslosses-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* overflow-y: auto;
    overflow-x: hidden; */
}

.prof-stats-icons{
    width: 30px;

}
.prof-stats-competitor {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    padding: 10px;
}

.render-competitors {
    display: flex; 
    flex-direction: row;
    font-weight: normal;
}
/* DECKS */

.profile-user-decks {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 98%;
    height: 45vh;
    margin-right: 10px;
    background: rgba(247, 242, 242, 0.59);;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.29);
    contain: content; 
    font-size: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
.profile-user-decks-header  {
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: rgb(40, 57, 155);
    color: white;
    font-size: 20px;
    /* font-weight: bold; */
}

.carousel-deck-item{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 7vh;
    padding: 15px;
    margin: 10px;
    margin-right: 25px;
    border-radius: 10px;
    background-color: rgb(40, 57, 155);
    color: whitesmoke;
    border: 1px solid whitesmoke;
    box-shadow:3px 4px 0px 0px #abcddf, 7px 6px 0px 0px #e1e6f5, 6px 6px 0px 0px rgb(40, 57, 155), 8px 8px 0px 0px #7eb2c2, 10px 10px 0px 0px #294d64, 24px 26px 15px 5px rgba(0,0,0,0);

}
.profile-user-decks a{
    display: flex; 
    justify-content: center;
}
.profile-exp-bar {
    margin-top: -7%;
}

/* DECK */


.profile-all-decks {
    display: flex;
    flex-direction: column;
    
}

/* .profile-deck-scroller  {
    color: rgb(40, 57, 155);
} */

/* .profile-create-deck-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border: white;
    border-bottom: 1px solid rgb(20, 35, 46);
} */
.make-deck-button {
    padding: 20px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
}
.profile-create-deck-button:hover{
    font-weight: bolder;
    box-shadow: 5px 5px 15px 2px rgba(34, 44, 133, 0.19);

}
.profile-no-decks {

    font-weight: 800;
}

.profile-deck-li {
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.29);
    background: red;
}



/* FRIENDS */

.profile-friends-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:  flex-end;
    font-size: 25px;
    /* height: 50px; */
    border-bottom: 1px solid black;
    margin: 25px;
    

}

.profile-new-friend-request img{
    border-radius: 100%;
    width: 30px;
    height: 30px;  
    padding: 5px;
}
.profile-new-friend-request-show {
    margin: 5px;
    margin-top: -5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: whitesmoke;
    animation: glow 1s infinite alternate;
}

.profile-new-friend-request-show:hover {
    cursor: pointer;
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #aed2f4;
  }
  to {
    box-shadow: 0 0 10px 10px #8fe6fc;
  }
}

.profile-new-friend-request img:hover{
    /* background-color:rgb(40, 57, 155); */
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.29);

}

.profile-friends-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-content: space-between;
    margin: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
.profile-friends-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 5px;
    padding-right: 30px;
    border-bottom: 1px solid rgb(21, 28, 44);
   
}

.friend-delete-button {
    padding: 5px;
    border-radius: 3px;
}
.friend-delete-button:hover{
    background-color: rgb(136, 22, 22);
    color: white
}

.friends-list-thumbnail{
    width: 30px;
    height: 30px;
}
.profile-no-friends {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    align-content: center;
    line-height: 20px;
}

.find-frineds-button {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    white-space: nowrap;
}

/* Loading Spinner */
/* generated by https://loading.io/ */
.loading-spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes ldio-6bedd410xds {
  0% {
    top: 98px;
    left: 98px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 19px;
    left: 19px;
    width: 158px;
    height: 158px;
    opacity: 0;
  }
}.ldio-6bedd410xds div {
  position: absolute;
  border-width: 2px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-6bedd410xds 1s cubic-bezier(0,0.2,0.8,1) infinite;
}.ldio-6bedd410xds div:nth-child(1) {
  border-color: #93dbe9;
  animation-delay: 0s;
}
.ldio-6bedd410xds div:nth-child(2) {
  border-color: #689cc5;
  animation-delay: -0.5s;
}
.loadingio-spinner-ripple-9llcti0jtos {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-6bedd410xds {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-6bedd410xds div { box-sizing: content-box; }
/* generated by https://loading.io/ */

.aws-btn {
    --button-primary-color: #28399b !important;
    --button-primary-color-dark: #18266d !important;
    --button-primary-color-light: whitesmoke !important;
    --button-primary-color-hover: #2b40b9 !important;
    --button-primary-border: none !important;
    --button-default-border-radius: 5px !important;
    --button-raise-level: 5px !important;
    --button-hover-pressure: 3 !important;
}




