.loader {
    display: block;
    z-index: 10;
    position: fixed;
    margin-left: 50%;
    margin-top: 40%;
    transform: translate(-50%, -50%);
    border: 16px solid #163253; 
    border-top: 16px solid #0c4870; 
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}