.deck-show-full-page {
  background-color: aliceblue;
  height: 100%;
  min-height: 100vh;
}

.deck-show-page {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin: 5%;
}

.deck-show-name {
  font-size: 24px;
  font-weight: 700;
  color: rgb(40, 57, 155);
}

.deck-show-cats {
  margin-top: 20px;
  margin-bottom: 10px;
}

.deck-show-cat {
  background-color: rgb(40, 57, 155);
  border-radius: 6px;
  padding: 3px 5px;
  color: whitesmoke;
  margin-right: 8px;
  text-decoration: none;
}

.deck-show-cat:hover {
  transition: all 0.2s;
  background-color: rgb(21, 32, 94);
}

.deck-show-cards {
  color: rgb(40, 57, 155);
  font-weight: 500;
  margin-top: 20px;
}

.deck-show-study {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(40, 57, 155);
  width: 96px;
  padding: 5px 7px;
  border-radius: 5px;
  color: rgb(40, 57, 155);
  font-weight: 500;
  margin-bottom: 15px;
}

.deck-show-add {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(40, 57, 155);
  width: 85px;
  padding: 5px 7px;
  border-radius: 5px;
  color: rgb(40, 57, 155);
  font-weight: 500;
}

.deck-show-delete-deck {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(40, 57, 155);
  width: 100px;
  padding: 5px 7px;
  border-radius: 5px;
  color: rgb(40, 57, 155);
  font-weight: 500;
}

.deck-show-user-container {
  display: flex;
  margin-top: -5px;
}

.deck-show-user-pic {
  width: 40px;
}

.deck-show-user-name {
  margin-top: 12px;
  margin-left: 3px;
  color: rgb(40, 57, 155);
  font-weight: 500;
}

.deck-show-study:hover, .deck-show-add:hover {
  cursor: pointer;
  background-color: rgb(210, 210, 210);
  transition: all 0.2s;
}

.deck-show-compete {
  margin-top: 100px;
}
