.challenges-div {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.challenges-title {
  font-size: 30px;
  padding: 10px;
}

.challenges-requests-div {
  display: flex;
}

.challenges-pending-list, .challenges-complete-list {
  border: 1px solid gray;
  width: 300px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.challenges-pending-title, .challenges-complete-title {
  font-size: 20px;
  text-align: center;
  background-color: rgb(40, 57, 155);
  color: white;
}

.challenges-request-item-div {
  display: flex;
  align-items: center;
}

.challenges-request-item {
  width: 80%;
  margin: 10px;
  border: 1px solid rgb(40, 57, 155);
  border-radius: 5px;
  text-align: center;
  color: black;
  padding: 10px;
}
.challenges-request-item-title {
  font-weight: bold;
  color: rgb(40, 57, 155);
}
.challenges-link {
  text-decoration: none;
}
 
.challenges-request-item {
  background-color: whitesmoke;
  color: black;
}

.challenges-request-item:hover, .challenges-request-item:hover .challenges-request-item-title, .challenges-request-item:hover .challenges-request-item-info{
  cursor: pointer;
  background-color: rgb(40, 57, 155);
  color: white;
}

.challenges-delete-button {
  cursor: pointer;
  padding: 5px;
  z-index: 5;
}