.compete-form-div {
  margin: auto;
  border: 1px solid gray;
  width: 400px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

/* .compete-form {
  display: flex;
  justify-content: center;
} */

.compete-form-friend-list {
  width: 300px;
  height: 600px;
}

.compete-form-friend-item {
  border: 1px solid gray;
  margin: 10px;
}

input[type='radio']:checked .compete-form-friend-item{
  background-color: blue;
}