.compete-main-div {
  margin: auto;
}

.compete-main-form {
  display: flex;
  justify-content: center;
}

.compete-main-friend-list, .compete-main-deck-list {
  width: 300px;
  height: 600px;
  border: 1px solid gray;
}

.compete-main-deck-item, .compete-main-friend-item {
  border: 1px solid gray;
  margin: 10px;
}