.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(40, 57, 155);
  color: whitesmoke;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  height: 60px;
}

.nav-container-login {
  display: flex;
  background-color: rgb(40, 57, 155);
  color: whitesmoke;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  height: 60px;
}

.nav-search-login {
  position: absolute;
  margin-left: 30%;
  width: 500px;
}

.nav-logo {
  margin-top: 8px;
  margin-left: 15px;
}

.nav-logo-link {
  text-decoration: none;
  color: whitesmoke;
}

.nav-login-signup {
  margin-top: 22px;
  margin-right: 25px;
}

.nav-login, .nav-signup {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
}

.nav-login {
  margin-right: 10px;
  padding: 8px 12px;
  border-radius: 4px;
}

.nav-login:hover {
  transition: all 0.2s;
  background-color: rgb(86, 109, 184);
}

.nav-signup {
  margin-left: 10px;
  padding: 8px 10px;
  border-radius: 4px;
  background-color: rgb(86, 109, 184);
}

.nav-signup:hover {
  transition: all 0.2s;
  background-color: rgb(60, 89, 182);
}

.nav-user-logout {
  display: flex;
  margin-right: 20px;
}

.nav-user-welcome {
  margin: 22px 0 0 0;
}

.nav-user-logout-button {
  background-color: rgb(40, 57, 155);
  color: whitesmoke;
  font-weight: 500;
  font-size: 15px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  border: none;
  margin-top: 17px;
  margin-left: 20px;
  height: 25px;
}

.nav-user-logout-button:hover {
  cursor: pointer;
  border-bottom: 1px solid whitesmoke;
  padding-top: 2px;
}

