.footer-links {
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(40, 57, 155);
  padding-top: 10px;
  height: 70px;
  width: 100vw;
}

.footer-github-link, .footer-about-link {
  text-decoration: none;
  color: whitesmoke;
}

.footer-github-link:hover, .footer-about-link:hover {
  border-bottom: 1px solid whitesmoke;
}

