.footer {
  display: flex;
  align-content: flex-end;
}
.footer-links {
  display: flex;
  justify-content: space-around;

  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: rgb(40, 57, 155);
  padding-top: 25px;
  height: 45px;
  width: 100vw;
}

.footer-github-link, .footer-about-link {
  text-decoration: none;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
}

.footer-github-link:hover, .footer-about-link:hover {
  transition: all 0.2s;
  border-bottom: 1px solid whitesmoke;
}

