.splash-page {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.splash-bg {
  position: absolute;
  width: 98.9vw;
  min-height: 650px;
  margin-top: -150px;
  z-index: -5;
  filter: opacity(70%) brightness(180%);
}

.splash-container {
  display: flex;
}

.splash-body {
  height: 74vw;
}

.splash-main-title {
  color: rgb(31, 47, 155);
  display: flex;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  justify-content: center;
  font-size: 48px;
  font-weight: 800;
  margin-top: 110px;
  margin-bottom: 35px;
}

.splash-main-description {
  display: flex;
  justify-content: center;
  font-size: 22px;
  text-align: center;
  padding: 0 40px;
  color: rgb(44, 59, 155);
  font-weight: 600;
  line-height: 32px;
}

.splash-make-deck-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.splash-make-deck {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  margin-top: 70px;
  text-decoration: none;
  background-color: rgb(40, 57, 172);
  color: whitesmoke;
  border-radius: 6px;
  padding: 12px 15px;
}

.splash-make-deck:hover {
  transition: all 0.3s;
  background-color: rgb(33, 45, 128);
}

.splash-block {
  height: 46%;
  padding-top: 4%;
  margin-top: 120px;
  background-color: rgb(57, 74, 184);
}

.splash-cat-title {
  font-size: 26px;
  font-weight: 600;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 1%;
}

.splash-cat-list {
  display: flex;
  justify-content: space-around;
}

.splash-cat-list-item {
  border: 1px solid rgb(100, 100, 100);
  background-color: whitesmoke;
  color: whitesmoke;
  padding: 10px;
  height: 13vw;
  width: 25%;
  border-radius: 4px;
  text-align: center;
}

.splash-cat-list-item:hover {
  box-shadow: 1px 8px 12px rgb(0 0 0 / 30%);
  transition: all 0.1s;
}

.splash-cat-list-pic {
  height: 100%;
}

.splash-cat-name-list {
  display: flex;
  justify-content: space-around;
}

.splash-cat-name-list-item {
  margin-top: 20px;
  color: whitesmoke;
  text-align: center;
  width: 200px;
  font-size: 20px;
  font-weight: 500;
}

.splash-pop-title {
  font-size: 26px;
  font-weight: 700;
  color: rgb(32, 46, 131);
  display: flex;
  justify-content: center;
  margin-top: 1.8%;
  margin-bottom: 5%;
}

.splash-pop-list {
  display: flex;
  justify-content: space-around;
}

.splash-pop-list-item {
  border: 1px solid rgb(220, 220, 220);
  background-color: rgb(253, 253, 253);
  color: rgb(32, 46, 131);
  padding: 30px;
  height: 11vw;
  min-height: 125px;
  width: 22%;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
}

.splash-pop-list-item:hover {
  box-shadow: 1px 8px 12px rgb(0 0 0 / 10%);
  transition: all 0.1s;
}

.splash-pop-list-item-cat-container {
  display: flex;
  margin-top: 15px;
}

.splash-pop-list-item-cat {
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
  padding: 5px;
  background-color: rgb(32, 46, 131);
  color: whitesmoke;
  border-radius: 4px;
}

.splash-pop-list-item-user-container {
  display: flex;
  text-decoration: none;
  color: rgb(32, 46, 131);
}

.splash-pop-list-item-user-pic {
  width: 40px;
  height: 40px;
  margin-left: -4px;
  margin-top: 19%;
  margin-right: 5px;
}

.splash-pop-list-item-user {
  font-size: 15px;
  font-weight: 500;
  margin-top: 24%;
}

.splash-block-2 {
  height: 48%;
  max-height: 500px;
  padding-top: 4%;
  background-color: aliceblue;
}

#splash-footer {
  margin-top: 380px;
  /* position: absolute;
  bottom: 0; */
}

