.search-bar-form {
  display: flex;
  margin-top: 12px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.search-input {
  color: rgb(17, 26, 78);
  background-color: whitesmoke;
  height: 35px;
  width: 350px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding-left: 10px;
}

::placeholder {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: rgb(100, 100, 100);
}

.search-input:focus-visible {
  border: none;
  outline: none;
}

.search-button {
  border: none;
  color: rgb(23, 23, 187);
  font-size: 18px;
  font-weight: bold;
  padding-top: 5px;
  width: 45px;
  border-radius: 0 4px 4px 0;
  background-color: rgb(224, 224, 224);
}

.search-button:hover {
  cursor: pointer;
  background-color: rgb(196, 196, 214);
}

