.search-bar-form {
  display: flex;
  margin-top: 12px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.search-input {
  color: whitesmoke;
  height: 32px;
  width: 350px;
  border: none;
  background-color: rgb(40, 57, 155);
  border-bottom: 1px solid whitesmoke;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  padding-left: 10px;
}

.search-input::placeholder {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: rgb(150, 150, 150);
}

.search-input:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px solid whitesmoke;
}

.search-button {
  border: none;
  color: whitesmoke;
  font-size: 18px;
  font-weight: bold;
  padding-top: 5px;
  background-color: rgb(40, 57, 155);
  border-bottom: 1px solid whitesmoke;
}

.search-button:hover {
  cursor: pointer;
  color: gray;
}

